In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz

In [2]:
train_df = pd.read_csv('./../day2_preprocessing/train_df_done.csv')
test_df = pd.read_csv('./../day2_preprocessing/test_df_done.csv')

In [3]:
train_df.head()
train_df

,Unnamed: 0,Longevity,Education,Sex,Age,Activity,Sport,Family,IsAlone,SocialStatus,AgeRanges
0,0,0,3,0.0,0.3,0.014151,1.0,1,0.0,0.892216,3.0
1,1,1,1,1.0,0.5,0.139129,0.0,1,0.0,0.029940,4.0
2,2,1,3,1.0,0.3,0.015478,1.0,0,1.0,0.892216,3.0
3,3,1,1,1.0,0.4,0.103644,1.0,1,0.0,0.023952,3.0
4,4,0,3,0.0,0.4,0.015713,0.0,0,1.0,0.910180,3.0
...,...,...,...,...,...,...,...,...,...,...,...
852,852,0,3,1.0,0.1,0.029766,0.0,2,0.0,0.856287,2.0
853,853,1,1,1.0,0.2,0.076904,1.0,1,0.0,0.011976,2.0
854,854,0,2,1.0,0.6,0.050749,1.0,1,0.0,0.491018,4.0
855,855,1,3,1.0,0.2,0.018250,1.0,1,0.0,0.874251,2.0
856,856,1,1,1.0,0.6,0.321804,1.0,2,0.0,0.035928,4.0

In [4]:
df_y = train_df['Longevity'].copy()
df_x = train_df.drop(['Longevity'], axis = 1)
train_df.head()

,Education,Sex,Age,Activity,Sport,Family,IsAlone,SocialStatus,AgeRanges
0,3,0.0,0.3,0.014151,1.0,1,0.0,0.892216,3.0
1,1,1.0,0.5,0.139129,0.0,1,0.0,0.029940,4.0
2,3,1.0,0.3,0.015478,1.0,0,1.0,0.892216,3.0
3,1,1.0,0.4,0.103644,1.0,1,0.0,0.023952,3.0
4,3,0.0,0.4,0.015713,0.0,0,1.0,0.910180,3.0
...,...,...,...,...,...,...,...,...,...
852,3,1.0,0.1,0.029766,0.0,2,0.0,0.856287,2.0
853,1,1.0,0.2,0.076904,1.0,1,0.0,0.011976,2.0
854,2,1.0,0.6,0.050749,1.0,1,0.0,0.491018,4.0
855,3,1.0,0.2,0.018250,1.0,1,0.0,0.874251,2.0
856,1,1.0,0.6,0.321804,1.0,2,0.0,0.035928,4.0